/* **************************** */
/* BELOW 1200PX */
/* **************************** */
@media (max-width: 75em) {
  #hero {
    grid-template-columns: 1fr;
  }

  #heroRight {
    grid-row: 1/2;
    justify-self: center;
    padding-bottom: 3rem;
  }

  table {
    width: 100%;
  }
  /* 
  #conForm {
    width: 2000px;
  } */
}

/* **************************** */
/* BELOW 920PX */
/* **************************** */
@media (max-width: 57.5em) {
}

/* **************************** */
/* BELOW 780PX */
/* **************************** */
@media (max-width: 48.75em) {
}

/* **************************** */
/* BELOW 600PX */
/* **************************** */

@media (max-width: 37.5em) {
}

/* **************************** */
/* BELOW 525PX */
/* **************************** */

@media (max-width: 32.8125em) {
}

/* **************************** */
/* BELOW 400PX */
/* **************************** */

@media (max-width: 25em) {
}
