/*
------------COLORS------------
#a1e8af
#94c595
#747c92
#583eb6
#372772
#3a2449

*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: "Poppins", "Open Sans", sans-serif;
  background-color: #9e93b9;
}

/*----------------NAV---------------*/

.logo {
  width: 20rem;
  margin: 1rem;
  margin-left: 3rem;
  padding: 1rem;
  /* background-color: #94c595;
  border-radius: 10px; */
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 8rem;
  background-color: #94c595;
  z-index: 999;
  border-bottom: 5px solid #372772;
}

#navList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-left: auto;
}

.navBtn {
  align-self: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
  font-size: 1.6rem;
  padding: 0.7rem 1.2rem;
  transition: all 0.5s;
  text-decoration: none;
  color: black;
}

.navBtnNorm {
  background-color: #94c595;
}

.navBtnNorm:hover {
  background-color: #bdefc7;
  transition: all 0.5s;
}

.btnHighlight:hover {
  background-color: #583eb6;
  color: #94c595;
  transition: all 0.5s;
}

.btnHighlight {
  background-color: #372772;
  color: #bdefc7;
}

.navBtn:last-of-type {
  margin-right: 8rem;
}

/*----------------HERO---------------*/

#hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  border-radius: 20px;
  width: 95vw;
  margin-top: 30rem;
  margin-left: 2.5vw;
  background-color: rgba(148, 197, 149, 0.884);
  padding: 5rem 0rem;
}

#heroLeft {
  font-size: 1.4rem;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

#heroLeft h1 {
  font-size: 3rem;
}

#heroLeft p {
  margin-top: 5rem;
  font-size: 1.6rem;
}

#heroRight {
  padding-right: 5rem;
}

#heroRight img {
  margin-left: 5vw;
  width: 60rem;
  border-radius: 20px;
  filter: blur(0.5px);
  box-shadow: 10px 10px 5px rgb(90, 90, 90);
}

#boxOne {
  position: absolute;
  content: "";
  width: 50vw;
  height: 140rem;
  left: 15vw;
  top: -10rem;
  background-color: rgba(58, 36, 73, 0.767);
  border-radius: 20px;
  z-index: -1;
}

#boxTwo {
  position: absolute;
  content: "";
  width: 40vw;
  height: 85rem;
  left: 40vw;
  top: -2rem;
  background-color: rgba(88, 62, 182, 0.534);
  border-radius: 20px;
  z-index: -2;
}

/* -------------- CONTENT ---------------- */

.lowerContent {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 1.6rem;
  border-radius: 20px;
  width: 70vw;
  margin-top: 20rem;
  margin-left: 10vw;
  background-color: rgba(148, 197, 149, 0.884);
  padding: 5rem 8rem;
  margin-bottom: 10rem;
}

.lowerContent h2 {
  font-size: 2.2rem;
  padding-bottom: 2rem;
  text-decoration: underline;
}

/* -------------Generator-------------- */

.conText {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #372772;
}

.sel {
  display: flex;
  flex-direction: column;
}

.headLabel {
  margin-top: 3rem;
}

.label {
  align-self: center;
}

#colSel,
#rowSel,
#headSel {
  background-color: #bdefc7;
  border: 0px;
  height: 2rem;
  font-family: "Poppins", "Open Sans", sans-serif;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  text-align: center;
}

#headSel {
  padding: 0rem;
}

#headSel {
  max-height: calc(1.2em + 1rem);
  height: calc(1.2em + 1rem);
}

#colSel:active,
#rowSel:active {
  border: none;
}

#headInfo {
  text-align: center;
  font-size: 1.2rem;
}

.noHead {
  display: none;
}

.subSel {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #372772;
  color: #bdefc7;
  transition: all 0.5s;
}

.subSel:hover {
  background-color: #583eb6;
  color: #bdefc7;
  transition: all 0.5s;
}

.genCon {
  margin-top: 5rem;
  width: 50rem;
}

.genBtns {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.copyBtn {
  margin-right: 0.75rem;
}

.downBtn {
  margin-left: 0.75rem;
}

.downBtn,
.copyBtn {
  font-family: "Poppins", "Open Sans", sans-serif;
  background-color: #372772;
  color: #bdefc7;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  transition: all 0.5s;
}

.downBtn:hover,
.copyBtn:hover {
  background-color: #583eb6;
  color: #bdefc7;
  transition: all 0.5s;
}

.textarea {
  box-shadow: 10px 10px 5px #86aa8d;
  display: block;
  width: 100%;
  resize: none;
  min-height: 40px;
  line-height: 20px;
  background-color: #bdefc7;
  padding: 2rem 0 0 2rem;
  border: none;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

.noGen {
  display: none;
}

/* ----------------Contact---------------- */
#conForm {
  display: flex;
  flex-direction: column;
}

#conEmail {
  font-family: "Poppins", "Open Sans", sans-serif;
  background-color: #bdefc7;
  border: none;
  padding: 0.5rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

#conTextBox {
  font-family: "Poppins", "Open Sans", sans-serif;
  background-color: #bdefc7;
  resize: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
